node_modules

/.cache
/public/_dev
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
.env.*





/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock